.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title display-user"
    "tabs tabs";
  >div {
    display: inline;
  }
  >img {
    max-width: 32px;
  }
}

.title {
  grid-area: title;
}

.tabs {
  grid-area: tabs;
  >span {
    cursor: pointer;
    padding: 0.25em;
    text-transform: uppercase;
  }
}

.display-user {
  grid-area: display-user;
  text-align: right;
  >img {
    max-width: 32px;
  }
}

.clickable {
  cursor: pointer;
}

.selected {
  font-weight: bold;
}

.arrival-card {
  width: 300px;
  border: solid 1px lightgray;
  >h2, p {
    margin: 0;
    font-size: 1em;
    padding: 0.5em;
  }
  >p {
    padding-top: 0;
  }
}

table.arrivals {
  color: navy;
  width: 100%;
  >tbody {
    >tr {
      >td {
        padding: 0.25em 0.5em;
      }
      &:nth-child(odd) {
        background-color: #f1f1f1;
      }
    }
  }
}

tr.warning {
  color: red;
}

tr.soon {
  color: green;
}

tr.scheduled {
  color: black;
}

tr.past {
  color: darkgray;
}

td.time-column {
  text-align: right;;
}
